.DS_Store
config/application.yml
db/debug.db
out.txt
err.txt
*.swp
*.out
*.tgz
*.tar
*.log
*.tmp
*.pid
tmp/
logs/
*.*~
*.un~

=======
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
doc/
vendor/
Gemfile.lock

